<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <NotAuthorized />
            </NotAuthorized>
            <Authorizing>
                <div class="flex flex-col items-center justify-center mt-10 text-neutral-700">
                    <div class="h-10 w-10 animate-spin rounded-full border-2 border-neutral-300 border-t-neutral-900"></div>
                    <p class="mt-3">Authorizing, please wait...</p>
                </div>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <NotFound/>
        </LayoutView>
    </NotFound>
</Router>
