@page "/product"
@layout AdminLayout

<div class="banner_section mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card p-5 m-2">
                    <div class="card-header text-center fs-3">Manage Products</div>
                    <div class="card-title">
                        <button class="btn btn-outline-success btn-lg mt-2 float-end" @onclick="AddProduct">
                            Add Product
                        </button>
                    </div>
                    <div class="card-body" style="height: 500px; overflow: auto">
                        @if (_products.Any())
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr class="bg-light mb-5">
                                        <th>Id</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Created Date</th>
                                        <th class="text-danger text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in _products)
                                    {
                                        <tr>
                                            <td>@product.Id</td>
                                            <td><img src="@product.Image" alt="@product.Name" width="50" height="50" /></td>
                                            <td>@product.Name</td>
                                            <td>@product.Description</td>
                                            <td>@product.Price</td>
                                            <td>@product.Quantity</td>
                                            <td>@product.CreatedOn</td>
                                            <td>
                                                <i class="fa fa-trash text-danger text-center buy_bt" @onclick="() => ConfirmDelete(product.Id)">
                                                </i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info fw-bold text-center" role="alert">
                                No products found.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ModalDialog @bind-IsVisible="_showDialog">
    <Header>
        <h5 class="modal-title">Add New Product</h5>
    </Header>
    <Body>
        <EditForm Model="_product" OnValidSubmit="SaveProduct">
            <DataAnnotationsValidator />
            <div class="form-group">
                <FloatingTextInput @bind-Value="_product.Name" Label="Product Name" class="form-control" />
                <ValidationMessage For="@(() => _product.Name)" />
            </div>
            <div class="form-group">
                <InputNumber @bind-Value="_product.Price" class="form-control" />
                <label class="form-label">Price</label>
                <ValidationMessage For="@(() => _product.Price)" />
            </div>
            <div class="form-group">
                <FloatingNumberInput @bind-Value="_product.Quantity" Label="Quantity" class="form-control" />
                <ValidationMessage For="@(() => _product.Quantity)" />
            </div>
            <div class="form-group">
                <FloatingTextAreaInput @bind-Value="_product.Description" Label="Product Description" class="form-control" />
                <ValidationMessage For="@(() => _product.Description)" />
            </div>
            <div class="form-group">
                <label for="category" class="form-label">Category</label>
                <InputSelect id="category" class="form-control" @bind-Value="_product.CategoryId">
                    <option value="">-- Select a Category --</option>
                    @foreach (var category in _categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => _product.CategoryId)" />
            </div>
            <div class="form-group d-flex justify-content-between align-items-center">
                <label class="custom-upload-btn">
                    Upload Image
                    <InputFile OnChange="EventCallback.Factory.Create < InputFileChangeEventArgs > (this, OnFileSelected)" accept="image/*" style="display: none;" />
                </label>
                @if (!string.IsNullOrEmpty(_previewImageUrl))
                {
                    <img src="@_previewImageUrl" alt="Preview Image" class="img-thumbnail" />
                }
                <ValidationMessage For="@(() => _product.Image)" />
            </div>

            <hr />
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mr-2" type="submit">Save</button>
                <button class="btn btn-danger" type="button" @onclick="Cancel">Cancel</button>
            </div>
        </EditForm>
    </Body>
</ModalDialog>

<ModalDialog @bind-IsVisible="_showConfirmDeleteDialog">
    <Header>
        <h5 class="modal-title">Confirm Delete</h5>
    </Header>
    <Body>
        Are you sure you want to delete the product
        <span class="text-danger"><strong>@_producToDeleteName</strong></span>?
    </Body>
    <Footer>
        <button class="btn btn-danger" @onclick="DeleteProductConfirmed">Yes, Delete</button>
        <button class="btn btn-secondary" @onclick="CancelDelete">Cancel</button>
    </Footer>
</ModalDialog>

<style>

    .form-group {
        margin-bottom: 10px; /* Намалете отстоянието между формовите групи */
    }

    .form-floating {
        margin-bottom: 10px; /* Намалете разстоянието за floating input полета */
    }

    .custom-upload-container {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .custom-upload-btn {
        background-color: #007bff; /* Син цвят */
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        transition: background-color 0.3s ease;
    }

        .custom-upload-btn:hover {
            background-color: #0056b3; /* По-тъмен син цвят при hover */
        }

        .custom-upload-btn:active {
            background-color: #004085; /* По-тъмен цвят при натискане */
        }

        .custom-upload-btn input[type="file"] {
            display: none; /* Скриване на стандартния InputFile елемент */
        }

    .img-thumbnail {
        max-width: 100px;
        max-height: 100px;
        margin-left: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
</style>